* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}

h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

h2 {
    padding: 1rem;
}

p {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.homepageLesson {
    border-top: 4px solid #563C5C;
    width: 100%;
    display: flex;
    align-items: center;
}

#bottom {
    border-bottom: 4px solid #563C5C;
}

.homepageLesson .text {
    width: 75%;
}

.homepageLesson .progressTracker {
    width: 15%;
}

.homepageLesson .arrow a { 
    font-size: 2rem; /* Adjust size as needed */ 
    font-weight: bold;
    text-decoration: none; /* Remove underline */ 
    color: #563C5C; /* Change color to your preference */ 
    transition: color 0.3s ease; /* Smooth color transition */ 
}

.homepageLesson .arrow a:hover { 
    color: #E0BA44;
}

.homepageLesson .arrow a {
    margin: 5%;
}

